<div class="row pt-5">
  <div *ngIf="customer$ | async as customer" class="col-10 offset-1">
    <h1 class="mt-5 text-center">Customer Editor</h1>
    <hr class="mx-auto" style="width: 50%" />
    <hr class="mx-auto mb-5" style="width: 20%" />

    <p [hidden]="eventForm.valid" style="color: red">
      All category must be filled and valid!
    </p>
    <form #eventForm="ngForm" (ngSubmit)="onUpdate(eventForm, customer)">
      <div class="container col-12 row">
        <div class="col-md-6">
          <div class="form-group mb-2 mt-0">
            <label for="" class="mb-2">Customer ID</label>
            <input
              name="id"
              [(ngModel)]="customer.id"
              type="number"
              class="form-control"
              readonly
            />
          </div>
          <div class="form-group mb-2">
            <label for="" class="mb-2">Firstname</label>
            <input
              name="firstName"
              [(ngModel)]="customer.firstName"
              type="text"
              class="form-control"
              pattern="[A-Za-y].{1,50}"
              required
            />
            <div
              [hidden]="eventForm.controls['firstName'].valid"
              [hidden]="eventForm.controls['firstName'].untouched"
              class="error-message"
            >
              Fistname is required and must be between 1-50 characters.
            </div>
          </div>
          <div class="form-group mb-2">
            <label for="" class="mb-2">Lastname</label>
            <input
              name="lastName"
              [(ngModel)]="customer.lastName"
              type="text"
              class="form-control"
              pattern="/[A-Za-z]{1,50}/"
              required
            />
            <div
              [hidden]="eventForm.controls['lastName'].valid"
              [hidden]="eventForm.controls['lastName'].untouched"
              class="error-message"
            >
              Lastname is required and must be between 1-50 characters.
            </div>
          </div>
          <div class="form-group mb-2">
            <label for="" class="mb-2">Email</label>
            <input
              name="email"
              [(ngModel)]="customer.email"
              type="email"
              class="form-control"
              pattern="/^[\w\.-]+@[\w\.-]+\.\w{2,4}$/"
              required
            />
            <div
              [hidden]="eventForm.controls['email'].valid"
              [hidden]="eventForm.controls['email'].untouched"
              class="error-message"
            >
              Email is required and must be valid!
            </div>
          </div>
          <div class="form-check my-3">
            <label for="" class="form-check-label m-2">Active</label>
            <input
              name="active"
              [(ngModel)]="customer.active"
              type="checkbox"
              class="form-check-input m-2"
            />
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group mb-2 mt-0">
            <div class="form-group mb-2 mt-0">
              <div class="row ps-auto ms-auto mt-0 add">
                <label for="" class="d-flex justify-content-start col-6 ps-0"
                  >Address:</label
                >
                <label
                  for="address.zip"
                  class="d-flex justify-content-end col-5"
                  >ZIP Code</label
                >
              </div>
              <input
                name="address.zip"
                [(ngModel)]="customer.address.zip"
                type="text"
                class="form-control"
                pattern="[0-9].{1,9}"
                required
              />
              <div
                [hidden]="eventForm.controls['address.zip'].valid"
                [hidden]="eventForm.controls['address.zip'].untouched"
                class="error-message"
              >
                ZIP coderequired and must be valid!
              </div>
            </div>

            <div class="form-group mb-2">
              <label
                for="address.country"
                class="mb-2 d-flex justify-content-end pe-3"
                >Country</label
              >
              <input
                name="address.country"
                [(ngModel)]="customer.address.country"
                type="text"
                class="form-control"
                pattern="[A-Za-y].{1,50}"
                required
              />
              <div
                [hidden]="eventForm.controls['address.country'].valid"
                [hidden]="eventForm.controls['address.country'].untouched"
                class="error-message"
              >
                Country is required and must be between 1-50 characters.
              </div>
            </div>
            <div class="form-group mb-2">
              <label
                for="address.city"
                class="mb-3 d-flex justify-content-end pe-3"
                >City</label
              >
              <input
                name="address.city"
                [(ngModel)]="customer.address.city"
                type="text"
                class="form-control"
                pattern="[A-Za-y].{1,50}"
                required
              />
              <div
                [hidden]="eventForm.controls['address.city'].valid"
                [hidden]="eventForm.controls['address.city'].untouched"
                class="error-message"
              >
                City is required and must be between 1-50 characters.
              </div>
            </div>
            <div class="form-group mb-2">
              <label
                for="address.street"
                class="mb-2 d-flex justify-content-end pe-3"
                >Street</label
              >
              <input
                name="address.street"
                [(ngModel)]="customer.address.street"
                type="text"
                class="form-control"
                pattern="[A-Za-y].{1,50}"
                required
              />
              <div
                [hidden]="eventForm.controls['address.street'].valid"
                [hidden]="eventForm.controls['address.street'].untouched"
                class="error-message"
              >
                Streetname is required and must be between 1-50 characters.
              </div>
            </div>
            <div class="form-group mb-2">
              <label
                for="address.notes"
                class="mb-2 d-flex justify-content-end pe-3"
                >Nr.</label
              >
              <input
                name="address.notes"
                [(ngModel)]="customer.address.notes"
                type="text"
                class="form-control"
                pattern="[0-9].{1,9}"
                required
              />
              <div
                [hidden]="eventForm.controls['address.notes'].valid"
                [hidden]="eventForm.controls['address.notes'].untouched"
                class="error-message"
              >
                Address notes is required and must be valid!
              </div>
            </div>
          </div>
        </div>
      </div>

      <button
        (click)="showToaster()"
        [disabled]="eventForm.invalid"
        type="submit"
        class="btn form-control btn-warning btn-lg mt-2 mx-auto px-auto"
      >
        <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
      </button>
    </form>
  </div>
</div>
