/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

h1 {
  font-family: 'Montserrat', sans-serif;
}

.col_head {
  cursor: pointer;
  &:hover {background-color: rgb(217, 212, 212);}
}

