@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.title {font-family: 'Montserrat', sans-serif;}

.all {font-family: 'Montserrat', sans-serif !important;}

.sormag {
  line-height: 0.2rem;

}
